.container{
    margin-top: 30px;
   width: 1090px;
   position: relative;
}
.titlescarousel{
    position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  width: 100%;

}
.titlescarousel p{
    line-height: 1.6em;
    text-align: center;
    letter-spacing: 0.15em;
    font-size: 15px;
  
    font-family: normal normal normal 15px / 1.4em futura-lt-w01-book, futura-lt-w05-book, sans-serif;;
}
#bigtitre{
    text-align: center;
    font-size: 36px;
    font-family: normal normal normal 36px / 1.4em futura-lt-w01-light, futura-lt-w05-light, sans-serif;
    letter-spacing: 0.05em;
}
.photos{
    display: flex;
}
.leftphoto{
    background-image: url(.././../assets/photo4.webp);
    background-size: cover;
    width: 505px;
    height: 450px;
    margin-top: 10px;
    margin-left: 100px;
   
}
#firstp{
   
    text-align: center;
    font-size: 16px;
    font-family: normal normal normal 24px / 1.4em futura-lt-w01-light, futura-lt-w05-light, sans-serif;
    color: rgba( 255, 255, 255);
    margin-top: 175px;
    


}
#secondp{
    font-family: normal normal normal 24px / 1.4em futura-lt-w01-light, futura-lt-w05-light, sans-serif;
    color: rgba( 255, 255, 255);
    font-size: 21px;
}
.rightphoto{
    background-image: url(.././../assets/photo5.webp);
    background-size: cover;
    width: 505px;
    height: 450px;
    margin-top: 10px;
   margin-left: 55px;
}
#thirdp{
    margin-top: 175px;
    letter-spacing: 0.15em;
    color: rgb( 0, 0, 0);
    line-height: 1.6em;
    font-size: 15px;
    font-family: normal normal normal 15px / 1.4em futura-lt-w01-book, futura-lt-w05-book, sans-serif;

}
#forthp{
    letter-spacing: 0.15em;
    color: rgb( 0, 0, 0);
    line-height: 1.6em;
    text-align: center;
    font-size: 20px;
    font-family: normal normal normal 15px / 1.4em futura-lt-w01-book, futura-lt-w05-book, sans-serif;
    
}
.products p{
 font-size: 16px;
 font-weight: normal;
 font-family: futura-lt-w01-light, futura-lt-w05-light, sans-serif;;
}
.Forthpart{
   display: flex;
}

.photogauche{
    background-image: url(.././../assets/photo8.webp);
    background-size: cover;
    width: 430px;
    height: 400px;
    margin-top: 40px;
   margin-left: 95px;
}
.photodroite{
    background-image: url(.././../assets/photo7.webp);
    background-size: cover;
    width: 600px;
    height: 400px;
    margin-top: 40px;
   margin-left: 65px;

}

.photodroite p{
 margin-top: 90px;
 padding: 35px;
 text-align: center;
 font-size: 15px;
 font-family: normal normal normal 15px / 1.4em futura-lt-w01-book, futura-lt-w05-book, sans-serif;
 letter-spacing: 0.15em;
 margin-right: 260px;
 margin-bottom: 0px;
}
#titredroit{
    text-align: center;
    font-size: 18px;
    padding: 0px;
  margin-top: 0px;
}
.photogauche p{
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    font-family: normal normal normal 15px / 1.4em futura-lt-w01-book, futura-lt-w05-book, sans-serif;
    letter-spacing: 0.15em;
   }
   #titregauche{
    text-align: center;
    font-size: 18px;
    padding: 0px;
  margin-top: 15px;
 }